* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;

  /* outline: 1px solid red; */
}

/* CSS MENU NAVEGACIÓN */

nav {
  background: #1a1a1a;
}

nav p {
  color: #fff;
  font-size: 20px;
}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
  color: #fff;
}

/* CSS FOOTER */

footer {
  background-color: #1a1a1a;
  color: #fff;
}

.datos-footer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.articulo {
  width: 32%;
}

.articulo h3 {
  padding-bottom: 15px;
  font-size: 25px;
}

.iconos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.iconos a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.iconos a p {
  padding-top: 10px;
}

.iconos i {
  font-size: 40px;
}

footer .derechos {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}